# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# PyCharm
.idea

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo
.directory

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Vagrant
.vagrant

# playground
.playground

#ninja
*.nja

# settings
/{{project_name}}/{{project_name}}/settings/users/*

# static
/{{project_name}}/application/static/sass/*.css
/{{project_name}}/application/static/sass/.sass-cache/*
/{{project_name}}/application/static/coffee/*.js
/{{project_name}}/application/static/coffee/lib/*.js

#misc
Berksfile.lock
